.container{
    display: flex;
    padding-left: 68px;
    transition: 300ms;
}

.containerNavOpen{
    padding-left: 250px;
}

.mainContent{
    flex-grow: 1;
    padding-top: 134px;
}

.contentContainer{
    padding: 0 50px;
}